**/.pycache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyw
**/*.pyz
**/lightning_logs/
**/.ipynb_checkpoints/
**/wandb/
**/result*
**/figures*
**/compare_selected_OOD_samples*
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.bmp
**/*.tiff
**/*.ico
**/*.webp
**/figures*/
**/compare_selected_OOD_samples*/
**/*.pdf
**/*.ttf
**/*.out
**/*.ckpt
